* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* banner style start */
.banner,
.offer {
    background: rgba(229, 84, 115, 0.10);
}

.banner-content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.bannerHeading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.bannerDescription {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    margin: 32px 0;

}

.imgDiv {
    width: 400px;
}

.bannerImg {
    width: 100%;
    margin-bottom: -24px;
}

.btn {
    background: #E55473;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 15px 20px;
}

/* banner style end */

/* Feature img section style start  */
.featureimgContent{
    padding: 60px 0;
}
/* Feature img section style end  */
.images{
    width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.images img{
    width: 350px;
    height: 400px;
}
.img1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.img2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.img3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15); 
}
/* Offer section Styling Start */
.offer-section{
    width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.offer-section div h1{
    font-weight: 700;
}
/* Offer section style end */
/* Instagram section style start */
.heading{
    text-align: center;
}
.insta-content{
    width: 1140px;
    margin: 80px auto;

}
.section-heading{
    color: #272727;
    font-weight: 700;
    font-size: 30px;
}
.instaDescription, 
.subscription-desc{
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    margin: 10px 0;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
}
.feature-img img{
    width: 260px;
}
/* Instagram section style end */
/* Subscription section style start */
.subscription{
    width: 1140px;
    margin: 120px auto;
    background-image: url(../assets/Rectangle\ 9.png);
    background-position: center;
    background-size: cover;
    /* height: 400px; */
    padding: 140px 0;
}
.subscription-content{
    text-align: center;
}
.input-box{
    margin-top: 20px;
    padding: 14px 5px;
    border: 0;
    background-color: #fff;
    border-radius: 5px;
    width: 400px;
}
/* Footer section style start */
footer {
    background: #111010;
    padding: 70px 0;
    text-align: center;
}

.footer-title2 {
    color: #fff;
}

.footer-title {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 10px;
    margin-top: 5px;
    font-weight: 400;
    line-height: 15px;
}
footer .copyright{
    color: rgba(255, 255, 255, 0.40);
    margin-top: 20px;
    font-size: 10px;
}
/* Footer style end */